:root {
	--gray_1: #F5F5F7;
	--gray_2: #9B8F8F;
	--gray_3: #767676;
	--gray_4: #756C6C;
	--gray_5: #323232;
	--orange: #ff7410;
	--white: #ffffff;
	--font1: 'Poiret One', cursive;
	--font2: 'Pacifico', cursive;
	/* 	prev #FFB178 */
}

body {
	background-color: var(--gray_1);
	font-family: var(--font1);
	color: var(--gray_2);

}

.header {
	margin-top: 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--gray_1);

}

.scroll {
	box-shadow: 0px 30px 30px 0px RGB(0, 0, 0, 5%);
}

.logo {
	font-family: var(--font2);
	color: var(--gray_2);
	font-size: 34px;
	text-decoration: none;
}

.logo:hover {

	transition: all 0.3s ease;
	color: var(--orange);
}

.menu-link {
	font-size: 22px;
	color: var(--gray_3);
	margin-left: 10px;
}

.bok-soc {
	color: var(--gray_2);
}

.menu-link:hover,
.bok-soc:hover,
.btn:hover,
.soc-main .a-soc:hover,
.prof-otm:hover {
	cursor: pointer;
	transform: scale(1.03);
	transition: all 0.3s ease;
	color: var(--orange);
	border-color: var(--orange);
}

.prof-otm {
	background-color: white;
	border: none;
	width: 48%;

}

.menu-link:first {
	margin-left: 0px;
}

.btn {
	border: 0.8px solid var(--gray_2);
	border-radius: 0px;
	color: var(--gray_5);

}

.btn-header {
	font-size: 18px;
	padding: 6px 40px;
}

main {
	margin-top: 90px;
}

.main {
	display: flex;
	justify-content: space-between;
	position: relative;
}


h1 {
	font-size: 68px;
	color: var(--gray_5);
}

.main h2 {
	font-size: 32px;
	color: var(--gray_3);
	line-height: 56px;
	margin-top: 34px;
}

.facts {
	margin-top: 80px;
	margin-bottom: 30px;
}


.fact {
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 60px;
	margin-bottom: 48px;

}

.fact1 {
	margin-left: 0px;
}

.fact span {
	font-size: 64px;
	line-height: 64px;
}

.fact p {
	font-size: 20px;
}

.btn-main {
	display: block;
	padding: 14px 50px;
	font-size: 24px;
	margin-top: 40px;
}

.main-img {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 1;
	position: relative;
	left: -20px;
}

.main-img img {
	width: 580px;
	z-index: 1;
}



.soc-main {

	transform: rotate(270deg);
	display: flex;
	align-items: center;
	position: absolute;
	right: -195px;
	top: 150px;
	color: var(--gray_4);
	font-size: 24px;
}

.soc-hr {
	width: 100px;
	display: inline-block;
}

.shadow-blok {
	height: 30px;
	box-shadow: 0px -30px 30px 0px RGB(0, 0, 0, 5%);
	z-index: 999;
}

.recomend {
	margin-bottom: 60px;
}

.menu-recomend {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #645C5C;
	font-size: 28px;
	display: flex;
	white-space: nowrap;

}


.menu-recomend li {
	display: inline-block;
	margin-left: 14px;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	background-color: white;
	padding: 8px 20px;
	border-radius: 18px;
	box-shadow: 2px 2px 6px 0 RGB(0, 0, 0, 8%);
}

h3 {
	display: inline-block;
	font-size: 58px;
	color: var(--gray_5);
	margin-top: 40px;
	margin-bottom: 34px;
	position: relative;
	text-shadow: 1px 1px 5px #a39b9b;
	margin-top: 90px;
}

.title-design::after {
	content: '';
	position: absolute;
	height: 20px;
	background-color: var(--orange);
	opacity: 10%;
	width: 100%;
	top: 44px;
	left: 16px;
	z-index: -1;

}



p {
	line-height: 56px;
	font-size: 28px;
	color: var(--gray_2);
}



.marker {
	color: #323232;
}

.marker::before {
	content: '';
	position: absolute;
	height: 18px;
	background-color: var(--orange);
	opacity: 40%;
	width: 100%;
	top: 18px;
	left: -4px;
	z-index: -1;
}

.sertificats {
	display: flex;

}

.serf {
	height: 440px;
	border-radius: 10px;
	box-shadow: 4px 4px 6px 0 RGB(0, 0, 0, 60%);
	margin: 10px;

}

.sertificat {
	padding-bottom: 70px;

}

.contact {
	padding-bottom: 30px;

}

.cont {
	font-size: 32px;
	line-height: 40px;
	color: var(--gray_4);
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-top: 16px;
	font-weight: bold;
}

.cont-sup {
	font-size: 18px;
	color: var(--gray_4);
	margin-bottom: 50px;
	margin-left: 20px;
}

.footer {
	background-color: var(--gray_4);
	padding: 30px 0;
	color: var(--white);
	box-shadow: -6px -4px -10px 0 RGB(0, 0, 0, 90%);

}

.footer .menu-link {
	color: var(--white);
	float: left;
	margin-left: 28px;
}

.footer .menu-link:hover {
	color: var(--orange);
}

.footer ul {
	display: flex;
	flex-direction: row;

}

.footer .menu-link:first {
	margin-left: 0;
}

.footer .logo {
	color: var(--white);
}

.footer .logo:hover {
	color: var(--orange);
}

.socseti img {
	width: 40px;
	margin-left: 14px;
	color: #FFB178;

}

.socseti img:hover {
	transform: scale(1.06);
	transition: all 0.3s ease;
	cursor: pointer;
	color: var(--orange);

}

.copy {
	text-align: center;
	font-size: 18px;
	color: #c3bcb9;
	margin-top: 20px;
}



svg {
	fill: darkgreen;
}

#recom:before,
#sert:before,
#cont:before,
#otzv::before,
#zaya::before {
	display: block;
	content: " ";
	visibility: hidden;
}

/* .uslugs h3{
	top: -30px;
} */

.a-soc {
	text-decoration: none;
}

.uslugi img {
	width: 100%;


}

.card-text {
	line-height: 38px;
	font-size: 38px;
	color: var(--gray_4);
	margin-bottom: 0;
}


.card-title {
	font-size: 30px;
	color: var(--gray_3);
	margin-top: 26px;
	margin-bottom: 30px;
	overflow: hidden; /* Добавляем overflow: hidden; для обрезания текста, который не помещается */
  text-overflow: ellipsis; /* Добавляем text-overflow: ellipsis; для отображения многоточия, если текст обрезается */
  white-space: nowrap;
}

.uslugs .card:hover {
	cursor: pointer;
	transform: scale(1.03);
	transition: all 0.5s ease;
}

.card .btn {
	padding: 10px 30px;
	font-size: 20px;
	border-color: var(--gray_2);
	color: var(--gray_4);
}

.card .btn:hover {
	color: var(--orange);
	border-color: var(--orange);
}

.card {
	border-radius: 10px;
	border: none;
	box-shadow: 0 4px 10px 0 RGB(0, 0, 0, 10%);
}

.otzivs img {
	border-radius: 50%;
	width: 50%;
	margin-left: 25%;
	margin-top: 30px;

}

.name {
	font-size: 26px;
	color: var(--gray_5);
	text-align: center;
	font-weight: bold;

}

.otzText {
	font-size: 20px;
	color: var(--gray_2);
	line-height: 26px;
  word-wrap: break-word; /* Поддержка старых браузеров */
  overflow-wrap: break-word; /* Современный вариант */
  hyphens: auto;
	padding-bottom: 0;
	margin-bottom: 0;
}

.carousel-indicators {
	bottom: -58px;
}


.carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;
	background-color: #323232;
	border-radius: 5px;
}

.bekene {
	opacity: 95%;
}

.bekene-back {
	background-color: var(--gray_2);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.map {
	box-shadow: 0 4px 10px 0 RGB(0, 0, 0, 10%);
	border-radius: 6px;
}

.fon-contact {
	padding: 15px;
	background-color: var(--white);
	box-shadow: 0 4px 10px 0 RGB(0, 0, 0, 10%);
	border-radius: 6px;
}



.modal-dialog {
	display: flex;
	max-width: 940px;
	margin-top: 70px;
}

/* label{
	display: block;
	position: relative;
	font-size: 16px ;
	cursor: pointer;
} */

input, select {
	border: none;
	border-bottom: 1px solid var(--gray_2);
	width: 70%;
	font-size: 22px;
	cursor: pointer;
	margin-bottom: 18px;
	padding-left: 4px;
	padding-bottom: 6px;
}



input:focus, select:focus{
	border: none;
	border-bottom: 1px solid var(--gray_2);
	outline: none;
}

.modal-body {
	padding-left: 2.5rem;
	padding-top: 1.5rem;
}

/* #name:focus ~ #name-lab{ 
	color: red;
	top: 0;
	font-size: 16px;
}

#name:active ~ #name-lab{ 
	color: red;
	top: 0;
	font-size: 16px;} */

.modal-footer {
	padding-left: 2.5rem;
}

.modal-footer span {
	font-size: 18px;
}

.reg-link {
	text-decoration: underline;
	cursor: pointer;

}

.reg-link:hover {
	color: var(--orange);
	transition: all 0.3s ease;
}

.modal-title {
	font-size: 34px;

}

.modal-header {
	padding-left: 2.5rem;
}

.modal-dialog img {
	border-radius: 5px 0 0 5px;
}

.modal-content {

	border: 1px solid rgba(0, 0, 0, .2);
	border-left: none;
	border-radius: 0 5px 5px 0;
	box-shadow: -16px 0 16px 0 rgba(0, 0, 0, 38%);

}

.br-10 {
	border-radius: 10px;
}

.block-zaya {
	background-color: var(--white);
	padding: 55px 45px;
	border-radius: 10px 0 0 10px;
	box-shadow: 10px 0 4px 0 rgba(0, 0, 0, 20%);
	z-index: 3;
}

.teni {
	box-shadow: 0 4px 10px 0 RGB(0, 0, 0, 10%);
}

.zayavka input, .zayavka select {
	width: 100%;
}

.btn-zaya {
	padding: 14px 48px;
}

.z-img {
	background-image: url("../img/baner.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	border-radius: 0 10px 10px 0;
	display: flex;
	justify-content: start;
align-items: center;

}

.z-img p {
	margin-left: 40px;
	color: rgb(0, 0, 0);
	font-size: 54px;
	line-height: 72px;
	opacity: 0.7;
	font-style: italic;

}

.rec-text {
	font-size: 30px;
	margin-left: 15px;

}

.p-rec {
	padding: 0px 50px 40px 50px;
}

.p-rec2 {
	padding-top: 50px;
}

.item-itd {

	padding: 12px 15px;
}

.item-rec {
	position: relative;
	border-radius: 50%;
	box-shadow: 0px 4px 8px RGB(0, 0, 0, 10%);

}

h4 {
	font-size: 34px;
	color: var(--gray_5);
	padding-top: 30px;
}

.item-rec-line::before {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	top: 63px;
	transform: rotate(45deg);
	background-color: rgb(196, 50, 50);

}

/* 
header{
  opacity: 0;
  animation: ani 2s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
 */
.element-animation {
	opacity: 0;
	transform: translateY(80px);
}

.element-animation.element-show {
	opacity: 1;
	transition: all 1s;
	transform: translateY(0%);
}

/* .element-animation-soc-main{
	opacity: 0;
	transform: translateX(100%);
}

.element-animation-soc-main.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
} */


.is-active::after {
	content: '';
	position: absolute;
	height: 2px;
	width: calc(100% - 16px);
	top: 61px;
	left: 8px;
	box-shadow: 0 -4px 8px RGB(0, 0, 0, 20%);
	background-color: var(--orange);
	opacity: 1;

}

.js-toc-list a {
	position: relative;
}

.opac-1 {
	opacity: 1;
}

.menu-recomend li.activete {
	background-color: #f1f1f1;
}

.prof {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 6px 6px 0 RGB(0, 0, 0, 5%);
}

.zapis p {
	font-size: 20px;
	line-height: 24px;
}


.profile-photo {
	width: 70%; /* Ширина в процентах */
	aspect-ratio: 1/1; /* Аспектное соотношение 1:1 (высота:ширина) */
	object-fit: cover;
	margin-left: 15%;
	margin-top: 0;
	margin-bottom: 22px;
	cursor: pointer;
	border-radius: 50%;
	
}

.sertificatss2 {
	display: none;
}

.potom {
	align-items: center;
}

.oxxx {
	padding-left: 100px;
	padding-top: 40px;
	padding-bottom: 60px;
}

.w100prof {
	width: 100%;
}



input:valid , select:valid{
	background: url(../img/checkbox_green.svg);
	background-size: 28px;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 35px;
}

select{
	outline: 0px;
	border: 0px solid rgb(255, 255, 255);
	margin-bottom: 18px;
	padding: 3px 2px 9px 0px;
	border-bottom: 1px solid var(--gray_2);
	line-height: 40px;
  overflow-y: auto;
	cursor: pointer;
}

option{
	cursor: pointer;
}

.modal-time .modal-dialog, .modal-zaya .modal-dialog{
	max-width: 500px;
}

.modal-time input, .modal-zaya select, .modal-zaya input{
	width: 90%;
}

.free_time_admin{
	font-size: 18px;
	padding: 8px 16px;
	background-color: rgb(247, 247, 247);
	border-radius: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.free_date_admin{
padding-top: 0;
margin: 5px 0;
margin-bottom: 13px;
}

.mda{
	height: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.expandable {
	overflow: hidden; /* Скрываем изначально текст, выходящий за пределы блока */
	max-height: 100px; /* Максимальная высота блока, когда текст скрыт */
	transition: max-height 0.5s ease; /* Плавная анимация раскрытия/скрытия */
	word-wrap: break-word; /* Поддержка старых браузеров */
  overflow-wrap: break-word; /* Современный вариант */
  hyphens: auto;
	width: 100%;
	max-width: 100%;
}

.expanded {
	max-height: none; /* Развернутый блок имеет максимальную высоту без ограничений */
}

.expand-button {
border: none;
background-color: white;
color: var(--gray_2);
font-size: 20px;
margin-left: 4px;
margin-top: 16px;
margin-bottom: 10px;
}

.username_profile{
	text-align: center; 
	color: rgb(41, 40, 40);
	 margin-bottom:5px;
}

.profile_data{
	line-height: 30px;
}
.avatarkanone{
	background-color: var(--gray_1);
	width: 70%; 
	height:292px; 
	font-size:90px;
	border: 0.7px var(--gray_4) solid;
	border-radius: 50%;
	color: var(--gray_4);
}

.zapnone{
	font-size:30px;
}

.procnameprof{
	font-size: 26px; 
	color: rgb(48, 47, 47);
	margin-bottom: 30px;
}

